/* ATENÇÃO: códigos que não estiverem comentados já o foram anteriormente. */

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;

}

.superior {
    background-color: black;
    margin-left: 0.2%;
    margin-right: 0.2%;

}

.principal {
    margin-left: 0.2%;
    margin-right: 0.2%;

}

.inferior {
    background-color: black;
    color: white;
    margin-top: 10%;
    
}

/* Define a borda como 1 pixel, sólida, na cor preta, a cor do texto como preta e a margem superior como 1 pixel, na classe "card". */
.card {
    border: 1px solid black;
    color: black;
    margin-top: 1px;

}

.btn-outline-secondary {
    border: 1px solid black;
    color: black;
    
}

.btn-outline-secondary:hover {
    background-color: black;
    color: white;
}